{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Page Title -->
    <section class="page-title-2" style="background-image: url({{ object.cover_image.url }});">
        <div class="auto-container">
            <div class="content-box">
                <h1>{{ object.item_name }}</h1>
                <span class="category"><i class="fas fa-tags"></i>{{ object.item_category }}</span>
            </div>
            <div class="info-box clearfix">
                <div class="left-column pull-left clearfix">
                    <div class="image-box"><img src="{{ object.owner.profile.profile_pic.url }}" alt=""></div>
                    <h4>{{ object.owner }}<i class="icon-18"></i></h4>
                    <ul class="rating clearfix">
                        <li><i class="icon-17"></i></li>
                        <li><i class="icon-17"></i></li>
                        <li><i class="icon-17"></i></li>
                        <li><i class="icon-17"></i></li>
                        <li><i class="icon-17"></i></li>
                        <li><a href="index-2.html">(32)</a></li>
                    </ul>
                    <span class="sell">For sell</span>
                    <h5><span>Start From:</span>${{ object.price }}</h5>
                </div>
                <div class="right-column pull-right clearfix">
                    <ul class="links-list clearfix">
                        <li class="share-option">
                            <a href="browse-add-details.html" class="share-btn"><i class="fas fa-share-alt"></i></a>
                            <ul>
                                <li><a href="browse-add-details.html"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="browse-add-details.html"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="browse-add-details.html"><i class="fab fa-google-plus-g"></i></a></li>
                                <li><a href="browse-add-details.html"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </li>
                        <li><a href="browse-add-details.html"><i class="icon-21"></i></a></li>
                        <li><a href="browse-add-details.html"><i class="icon-22"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End Page Title -->


    <!-- browse-add-details -->
    <section class="browse-add-details bg-color-2">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                    <div class="add-details-content">
                        <div class="content-one single-box">
                            <div class="text">
                                <h3>Product Description</h3>
                                <p>{{ object.description }}</p>
                            </div>
                        </div>
                        <div class="content-one single-box">
                            <div class="text">
                                <h3>Downloads</h3>
                                {% if object.image_1 %}
                                    {{ object.owner }} has provided some samples for download and visualization.
                                    <p>Sample 1 - <a href="{{ object.image_1.url }}">View <i class="far fa-eye"></i></a>
                                    </p>
                                    {% if object.image_2 %}
                                        Sample 2 -
                                        <a href="{{ object.image_2.url }}">View <i class="far fa-eye"></i></a></p>
                                    {% else %}
                                        {# Nothing here #}
                                    {% endif %}
                                    {% if object.image_3 %}
                                        <p>Sample 3 - <a href="{{ object.image_3.url }}">View <i class="far fa-eye"></i></a>
                                        </p>
                                    {% else %}
                                        {# Nothing here #}
                                    {% endif %}
                                {% else %}
                                    {{ object.owner }} has not provided any sample content for {{ object.item_name }}
                                    yet.
                                    <hr>
                                    <p><a href="#">Ask for samples?</a></p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="content-three single-box">
                            <div class="text">
                                <h3>Contact Information:</h3>
                                <ul class="list-item clearfix">
                                    <li>Name: <strong>{{ object.owner.profile.user.last_name|upper }}
                                        {{ object.owner.profile.user.first_name|upper }}</strong></li>
                                    <li>Email: <strong><a
                                            href="mailto:{{ object.owner.email }}">{{ object.owner.email }}</a>
                                    </strong></li>
                                    <li>Phone Number: <strong>{{ object.owner.profile.contact_number }}</strong></li>
                                </ul>
                                <hr>
                                <p><strong>Instructions from Seller/Provider</strong></p>
                                <p>
                                    ..<br>
                                    ..<br>
                                    ..
                                </p>
                            </div>
                        </div>
                        <div class="content-four single-box">
                            <div class="text">
                                <h3>Location</h3>
                            </div>
                            <div class="contact-map">
                                <div id="map" style="width: 600px; height: 400px;"></div>
                                <script>

                                    var map = L.map('map').setView([{{ object.lat }}, {{ object.lon }}], 13);

                                    var tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                                        maxZoom: 19,
                                        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">' +
                                            'OpenStreetMap | <a href="https://surveyor-jr.tech/">Surveyor-Jr </a>'
                                    }).addTo(map);

                                    var marker = L.marker([{{ object.lat }}, {{ object.lon }}]).addTo(map)
                                        .bindPopup('<b>{{ object.item_name }}</b> can be found here').openPopup();

                                    var circle = L.circle([{{ object.lat }}, {{ object.lon }}], {
                                        color: 'blue',
                                        fillColor: '#f03',
                                        fillOpacity: 0.1,
                                        radius: 1000
                                    }).addTo(map).bindPopup('Provider address within this range');


                                </script>
                            </div>
                            <ul class="info-box clearfix">
                                <li><span>Address:</span> <strong>{{ object.location_area|upper }}</strong></li>
                                <li><span>Country:</span> <strong>ZIMBABWE</strong></li>
                                {# TODO - Change this when global #}
                                <li><span>Province:</span> <strong>{{ object.location_province|upper }}</strong></li>
                                <li><span>City:</span> Brooklyn</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
                    <div class="default-sidebar category-sidebar">
                        <div class="sidebar-search sidebar-widget">
                            <div class="widget-title">
                                <h3>Search</h3>
                            </div>
                            <div class="widget-content">
                                <form action="https://azim.commonsupport.com/Clasifico/category-details.html"
                                      method="post" class="search-form">
                                    <div class="form-group">
                                        <input type="search" name="search-field" placeholder="Search Keyword..."
                                               required="">
                                        <button type="submit"><i class="icon-2"></i></button>
                                    </div>
                                    <div class="form-group">
                                        <i class="icon-3"></i>
                                        <select class="wide">
                                            <option data-display="Select Location">Select Location</option>
                                            {% for province in province %}
                                                <option value="{{ province.id }}">{{ province.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    {#                                    <div class="form-group">#}
                                    {#                                        <i class="icon-4"></i>#}
                                    {#                                        <label>#}
                                    {#                                            <select class="wide">#}
                                    {#                                                <option data-display="Select Category">Select Category</option>#}
                                    {#                                                {% for category in category %}#}
                                    {#                                                    <option value="{{ category.id }}">{{ category.name }}</option>#}
                                    {#                                                {% endfor %}#}
                                    {#                                            </select>#}
                                    {#                                        </label>#}
                                    {#                                    </div>#}
                                    <div class="btn-box">
                                        <button type="submit" href="#" class="theme-btn-one"><i
                                                class="fas fa-search"></i>Apply Filter
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="sidebar-category sidebar-widget">
                            <div class="widget-title">
                                <h3>Category</h3>
                            </div>
                            <div class="widget-content">
                                <ul class="category-list">
                                    {% for category in category %}
                                        <li><a href="#">{{ category.name }}</a></li> {# TODO -> Provide cat view #}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- browse-add-details end -->


    <!-- related-ads -->
    <section class="related-ads">
        <div class="auto-container">
            <div class="sec-title">
                <span>Related Ads</span>
                <h2>Related Ads</h2>
            </div>
            <div class="three-item-carousel owl-carousel owl-theme owl-nav-none dots-style-one">
                <div class="feature-block-one">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="{% static 'assets/images/resource/feature-1.png' %}" alt="">
                            </figure>
                            <div class="shape"></div>
                            <div class="feature">Featured</div>
                            <div class="icon">
                                <div class="icon-shape"></div>
                                <i class="icon-16"></i>
                            </div>
                            <ul class="rating clearfix">
                                <li><i class="icon-17"></i></li>
                                <li><i class="icon-17"></i></li>
                                <li><i class="icon-17"></i></li>
                                <li><i class="icon-17"></i></li>
                                <li><i class="icon-17"></i></li>
                                <li><a href="index-2.html">(32)</a></li>
                            </ul>
                            <h5>$3,000.00</h5>
                        </div>
                        <div class="lower-content">
                            <div class="author-box">
                                <div class="inner">
                                    <img src="{% static 'assets/images/resource/author-1.png' %}" alt="">
                                    <h6>Michael Bean<i class="icon-18"></i></h6>
                                    <span>For sell</span>
                                </div>
                            </div>
                            <div class="category"><i class="fas fa-tags"></i>
                                <p>Electronics</p></div>
                            <h3>Villa on Grand Avenue </h3>
                        </div>
                    </div>
                </div>
                <div class="feature-block-one">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="{% static 'assets/images/resource/feature-2.png' %}" alt="">
                            </figure>
                            <div class="shape"></div>
                            <div class="feature">Featured</div>
                            <div class="icon">
                                <div class="icon-shape"></div>
                                <i class="icon-16"></i>
                            </div>
                            <ul class="rating clearfix">
                                <li><i class="icon-17"></i></li>
                                <li><i class="icon-17"></i></li>
                                <li><i class="icon-17"></i></li>
                                <li><i class="icon-17"></i></li>
                                <li><i class="icon-17"></i></li>
                                <li><a href="index-2.html">(25)</a></li>
                            </ul>
                            <h5>$2,000.00</h5>
                        </div>
                        <div class="lower-content">
                            <div class="author-box">
                                <div class="inner">
                                    <img src="{% static 'assets/images/resource/author-2.png' %}" alt="">
                                    <h6>Michael Bean<i class="icon-18"></i></h6>
                                    <span>For sell</span>
                                </div>
                            </div>
                            <div class="category"><i class="fas fa-tags"></i>
                                <p>Electronics</p></div>
                            <h3>Villa on Grand Avenue </h3>
                        </div>
                    </div>
                </div>
                <div class="feature-block-one">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="{% static 'assets/images/resource/feature-3.png' %}" alt="">
                            </figure>
                            <div class="shape"></div>
                            <div class="feature">Featured</div>
                            <div class="icon">
                                <div class="icon-shape"></div>
                                <i class="icon-16"></i>
                            </div>
                            <ul class="rating clearfix">
                                <li><i class="icon-17"></i></li>
                                <li><i class="icon-17"></i></li>
                                <li><i class="icon-17"></i></li>
                                <li><i class="icon-17"></i></li>
                                <li><i class="icon-17"></i></li>
                                <li><a href="index-2.html">(30)</a></li>
                            </ul>
                            <h5>$3,500.00</h5>
                        </div>
                        <div class="lower-content">
                            <div class="author-box">
                                <div class="inner">
                                    <img src="{% static 'assets/images/resource/author-3.png' %}" alt="">
                                    <h6>Michael Bean<i class="icon-18"></i></h6>
                                    <span>For sell</span>
                                </div>
                            </div>
                            <div class="category"><i class="fas fa-tags"></i>
                                <p>Electronics</p></div>
                            <h3>Villa on Grand Avenue </h3>
                        </div>
                    </div>
                </div>
                <div class="feature-block-one">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="{% static 'assets/images/resource/feature-1.png' %}" alt="">
                            </figure>
                            <div class="shape"></div>
                            <div class="feature">Featured</div>
                            <div class="icon">
                                <div class="icon-shape"></div>
                                <i class="icon-16"></i>
                            </div>
                            <ul class="rating clearfix">
                                <li><i class="icon-17"></i></li>
                                <li><i class="icon-17"></i></li>
                                <li><i class="icon-17"></i></li>
                                <li><i class="icon-17"></i></li>
                                <li><i class="icon-17"></i></li>
                                <li><a href="index-2.html">(32)</a></li>
                            </ul>
                            <h5>$3,000.00</h5>
                        </div>
                        <div class="lower-content">
                            <div class="author-box">
                                <div class="inner">
                                    <img src="{% static 'assets/images/resource/author-1.png' %}" alt="">
                                    <h6>Michael Bean<i class="icon-18"></i></h6>
                                    <span>For sell</span>
                                </div>
                            </div>
                            <div class="category"><i class="fas fa-tags"></i>
                                <p>Electronics</p></div>
                            <h3>Villa on Grand Avenue </h3>
                        </div>
                    </div>
                </div>
                <div class="feature-block-one">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="{% static 'assets/images/resource/feature-2.png' %}" alt="">
                            </figure>
                            <div class="shape"></div>
                            <div class="feature">Featured</div>
                            <div class="icon">
                                <div class="icon-shape"></div>
                                <i class="icon-16"></i>
                            </div>
                            <ul class="rating clearfix">
                                <li><i class="icon-17"></i></li>
                                <li><i class="icon-17"></i></li>
                                <li><i class="icon-17"></i></li>
                                <li><i class="icon-17"></i></li>
                                <li><i class="icon-17"></i></li>
                                <li><a href="index-2.html">(25)</a></li>
                            </ul>
                            <h5>$2,000.00</h5>
                        </div>
                        <div class="lower-content">
                            <div class="author-box">
                                <div class="inner">
                                    <img src="{% static 'assets/images/resource/author-2.png' %}" alt="">
                                    <h6>Michael Bean<i class="icon-18"></i></h6>
                                    <span>For sell</span>
                                </div>
                            </div>
                            <div class="category"><i class="fas fa-tags"></i>
                                <p>Electronics</p></div>
                            <h3>Villa on Grand Avenue </h3>
                        </div>
                    </div>
                </div>
                <div class="feature-block-one">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="{% static 'assets/images/resource/feature-3.png' %}" alt="">
                            </figure>
                            <div class="shape"></div>
                            <div class="feature">Featured</div>
                            <div class="icon">
                                <div class="icon-shape"></div>
                                <i class="icon-16"></i>
                            </div>
                            <ul class="rating clearfix">
                                <li><i class="icon-17"></i></li>
                                <li><i class="icon-17"></i></li>
                                <li><i class="icon-17"></i></li>
                                <li><i class="icon-17"></i></li>
                                <li><i class="icon-17"></i></li>
                                <li><a href="index-2.html">(30)</a></li>
                            </ul>
                            <h5>$3,500.00</h5>
                        </div>
                        <div class="lower-content">
                            <div class="author-box">
                                <div class="inner">
                                    <img src="{% static 'assets/images/resource/author-3.png' %}" alt="">
                                    <h6>Michael Bean<i class="icon-18"></i></h6>
                                    <span>For sell</span>
                                </div>
                            </div>
                            <div class="category"><i class="fas fa-tags"></i>
                                <p>Electronics</p></div>
                            <h3>Villa on Grand Avenue </h3>
                        </div>
                    </div>
                </div>
                <div class="feature-block-one">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="{% static 'assets/images/resource/feature-1.png' %}" alt="">
                            </figure>
                            <div class="shape"></div>
                            <div class="feature">Featured</div>
                            <div class="icon">
                                <div class="icon-shape"></div>
                                <i class="icon-16"></i>
                            </div>
                            <ul class="rating clearfix">
                                <li><i class="icon-17"></i></li>
                                <li><i class="icon-17"></i></li>
                                <li><i class="icon-17"></i></li>
                                <li><i class="icon-17"></i></li>
                                <li><i class="icon-17"></i></li>
                                <li><a href="index-2.html">(32)</a></li>
                            </ul>
                            <h5>$3,000.00</h5>
                        </div>
                        <div class="lower-content">
                            <div class="author-box">
                                <div class="inner">
                                    <img src="{% static 'assets/images/resource/author-1.png' %}" alt="">
                                    <h6>Michael Bean<i class="icon-18"></i></h6>
                                    <span>For sell</span>
                                </div>
                            </div>
                            <div class="category"><i class="fas fa-tags"></i>
                                <p>Electronics</p></div>
                            <h3>Villa on Grand Avenue </h3>
                        </div>
                    </div>
                </div>
                <div class="feature-block-one">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="{% static 'assets/images/resource/feature-2.png' %}" alt="">
                            </figure>
                            <div class="shape"></div>
                            <div class="feature">Featured</div>
                            <div class="icon">
                                <div class="icon-shape"></div>
                                <i class="icon-16"></i>
                            </div>
                            <ul class="rating clearfix">
                                <li><i class="icon-17"></i></li>
                                <li><i class="icon-17"></i></li>
                                <li><i class="icon-17"></i></li>
                                <li><i class="icon-17"></i></li>
                                <li><i class="icon-17"></i></li>
                                <li><a href="index-2.html">(25)</a></li>
                            </ul>
                            <h5>$2,000.00</h5>
                        </div>
                        <div class="lower-content">
                            <div class="author-box">
                                <div class="inner">
                                    <img src="{% static 'assets/images/resource/author-2.png' %}" alt="">
                                    <h6>Michael Bean<i class="icon-18"></i></h6>
                                    <span>For sell</span>
                                </div>
                            </div>
                            <div class="category"><i class="fas fa-tags"></i>
                                <p>Electronics</p></div>
                            <h3>Villa on Grand Avenue </h3>
                        </div>
                    </div>
                </div>
                <div class="feature-block-one">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="{% static 'assets/images/resource/feature-3.png' %}" alt="">
                            </figure>
                            <div class="shape"></div>
                            <div class="feature">Featured</div>
                            <div class="icon">
                                <div class="icon-shape"></div>
                                <i class="icon-16"></i>
                            </div>
                            <ul class="rating clearfix">
                                <li><i class="icon-17"></i></li>
                                <li><i class="icon-17"></i></li>
                                <li><i class="icon-17"></i></li>
                                <li><i class="icon-17"></i></li>
                                <li><i class="icon-17"></i></li>
                                <li><a href="index-2.html">(30)</a></li>
                            </ul>
                            <h5>$3,500.00</h5>
                        </div>
                        <div class="lower-content">
                            <div class="author-box">
                                <div class="inner">
                                    <img src="{% static 'assets/images/resource/author-3.png' %}" alt="">
                                    <h6>Michael Bean<i class="icon-18"></i></h6>
                                    <span>For sell</span>
                                </div>
                            </div>
                            <div class="category"><i class="fas fa-tags"></i>
                                <p>Electronics</p></div>
                            <h3>Villa on Grand Avenue </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- related-ads end -->


    <!-- subscribe-section -->
    <section class="subscribe-section">
        <div class="pattern-layer" style="background-image: url({% static 'assets/images/shape/shape-9.png' %});"></div>
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-6 col-md-6 col-sm-12 text-column">
                    <div class="text">
                        <div class="icon-box"><i class="icon-25"></i></div>
                        <h2>Subscribe to Newsletter</h2>
                        <p>and receive new ads in inbox</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 form-column">
                    <form action="https://azim.commonsupport.com/Clasifico/contact.html" method="post"
                          class="subscribe-form">
                        <div class="form-group">
                            <input type="email" name="email" placeholder="Inout your email address" required="">
                            <button type="submit" class="theme-btn-one">Subscribe Now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- subscribe-section end -->

{% endblock %}